{{- if .Values.jwtSecret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: autostack-jwt-secret
  labels:
    {{- include "autostack.labels" . | nindent 4 }}
type: Opaque
stringData:
  secret: {{ .Values.jwtSecret.secret | quote }}
{{- end }}
---
{{- if .Values.featureFlags.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: autostack-fm-key
  labels:
    {{- include "autostack.labels" . | nindent 4 }}
type: Opaque
stringData:
  key: {{ .Values.featureFlags.fmKey | quote }}
{{- end }}
